nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--c-blanco);
    transition: 0.3s;
    z-index: 1;
}

nav.scrolled-down {
    height: 80px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.14);
}

nav.scrolled-down img {
    scale: 1.25;
}

nav img {
    width: 30px;
    height: 30px;
    transform-origin: 0% 50%;
    transition: 0.3s;
}

.links {
    display: flex;
    gap: 16px;
}

.links a {
    color: var(--c-negro);
    transition: all 0.3s ease;
}

.links a:hover {
    color: var(--c-secundario);
    transition: all 0.3s ease;
}

.container-nav {
    margin: 0 10%;
    width: 80%;
}